@font-face {
    font-family:'Just';
    src: url('./Jost/Jost-Italic-VariableFont_wght.ttf');
    src: url('./Jost/Jost-VariableFont_wght.ttf');
}
@font-face {
    font-family: Arsenal;
    src: url('./Arsenal/Arsenal-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-VariableFont_slnt\,wght.ttf');
}